@model ProjeOOP.Entity.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Update Customer Pages</h1>
<form method="post">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("City")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update Customer</button>
</form>


