
@{
    Layout = null;
}

<a href="/Default/Products/"> Products Page</a>
<a href="/Default/Customer/"> Customers Page</a>
<h1>Hello World</h1>
<h3>Continue Course</h3>

<h1>Message List</h1>
<h3>--------------</h3>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>@ViewBag.message</h3>

<h3>Users: @ViewBag.username</h3>
<h3>Sum2 : @ViewBag.sum1</h3>
<h3>Factorial : @ViewBag.factorial1</h3>