
@{
    Layout = null;
}

<a href="/Default/Index/"> Index Page</a>
<a href="/Default/Customer/"> Customers Page</a>
<h1>Product Page</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Sum: @ViewBag.s</h3>
<h3>Circumference: @ViewBag.circum</h3>
<h3>Users: @ViewBag.username</h3>
<h3>Sum2: @ViewBag.sum2</h3>
<h3>Factorial : @ViewBag.factorial2</h3>
